.input-error {
  color: red;
  display: none;
}

.invalid  {
  border: 1px solid red;
}

.email-error {
  color: red;
  display: none;
}

.error-notification {
  background-color: rgb(243, 75, 75);
  width: 200px;
  height: 100px;
  color: #fff;
  position: absolute;
  bottom: 10px;
  right: 10px;
  padding: 10px;
}